@import "tailwindcss";

:root{
    --primary-color: #9B3B91;
    --dark: #000000;
    --dark-grey: #6d6d6d;
    --light-grey: #F0F0F0;
}

body{
  font-family: 'Inter', sans-serif;
}

.nav-links:hover{
    border-bottom: 2px solid var(--dark);
}

.cards{
    display: flex;
    flex-direction: column;
    background:linear-gradient(to right, #9B3B91BF, #383335F2, #9B3B91BF);
    justify-content: center;
    justify-self: center;
    align-self: center;
    text-align: center;
    color: white;
    border-radius: 20px;
}

.header{
    font-size: 25px;
}

.desk{
    height: auto;
    width: 100%;
    color: white;
    padding: 10px;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(to right, #9B3B91BF, #383335F2, #9B3B91BF);
}

.card-img{
    width: 35%;
}

.cardbutton{
    background-color: #000000;
    color: white;
    border-radius: 16px;
    width: fit-content;
    padding: 12px 24px;
    font-size: 15px;
    transition: 0.3s;
    cursor: pointer;
}

.cardbutton:hover{
    background-color: #353535;
}

@media (min-width: 769px) {
    .desk{
        display: flex;
    }

    .cards{
        display: none;
    }
}

@media (max-width: 768px){
    .cards{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .cardbutton{
        width: 50%;
        font-size: 18px;
        justify-self: center;
        align-self: center;
    }
    
    .desk{
        display: none;
    }
}

.divs{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
    padding: 20px;
}

.header{
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 10px;
}

.foot{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #000000;
    color: white;
    padding: 30px;
    align-items: center;
    font-size: 10px;
}

.sections{
    display: flex;
    box-sizing: border-box;
}
#sec{
    justify-content: space-between;
}
#fir{
    flex-direction: column;
    font-size: 15px;
}
.head{
    font-size: 20px;
}
#email{
    width: 200px;
    height: 30px;
    border: 1px solid white;
    padding: 5px;
}
#btn{
    background-color: white;
    color: black;
    width: 70px;
    height: 30px;
}
@media (max-width:600px){
.container{
    flex-direction: column;
}
}
