@import "tailwindcss";

:root{
    --primary-color: #9B3B91;
    --dark: #000000;
    --dark-grey: #6d6d6d;
    --light-grey: #F0F0F0;
}

body{
  font-family: 'Inter', sans-serif;
}


.pri-btn:hover{
    background-color: #353535;
}

.sec-btn:hover{
    background-color: #ececec;
}

.nav-links:hover{
    border-bottom: 2px solid var(--dark);
}